ul{
    margin: 0;
    padding: 0;
}

li{
    list-style:none;
}
    .user-wrapper, .message-wrapper{
        border: 1px solid #dddd;
        overflow-y: auto; 
        background-color: white;
        border-radius: 10px;
    }

    .user-wrapper{
        height: 600px;
    }

    .user{
        cursor: pointer;
        padding: 5px 0;
        position: relative;
    }

    .user:hover{
        background: #eeeeee;

    }

    .user:last-child{
        margin-bottom: 0;
    }

    .pending{
        position: absolute;
        left: 13px;
        top: 9px;
        background: #b600ff;
        margin: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        line-height: 18px;
        padding-left: 5px;
        color: #ffffff;
        font-size: 12px;
    }

   .media-left{
       margin: 0 10px;
   } 

   .media-left img{
       width: 74px;
       border-radius: 64px;
   } 

   .media-body p{
       margin: 6px 0;
   }


   .message-wrapper{
       padding: 10px;
       height: 536px;
       background:white;
   }

   .messages .message {
       margin-bottom: 15px;
   }
   
   .messages .message:last-child {
       margin-bottom: 0;
   }



    .picture img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: transparent;
    
    }


    .sent{
        padding: 3px 10px;
        border-radius: 10px;
        width: 350px;
        background: #eeeeee;
        color: black;
        float: right; 
        text-align: right;
        word-wrap: break-word;
    }


    .received{
        padding: 3px 10px;
        border-radius: 10px;
        width: 350px;
        background-color: #eeeeee;
        float: left; 
        word-wrap: break-word;
    }


    .received a{
        color: black;
        font-weight: 500;
    }

    .sent a{
        color: black;
        font-weight: 500;
    }


    .message-clearfix p{
       margin: 5px 0;
   }

   .date{
       font-size: 12px;
   }

   .active{
       background: #eeeeee;
   }

   input[type=text]{
       width:100%;
       padding: 22px 32px;
       margin: 18px 0 0 0;
       display: inline-block;
       border-radius: 4px;
       box-sizing: border-box;
       outline: none;
       border:1px solid #cccccc;
   }

   input[type=text]:focus{
       border: 1px solid #3b5998; 
   }
