#footer{
    background-color: black;
    color: #fff;
    margin-bottom: -50px;
}

#footer i{
    display: block;
}

#footer a{
   text-decoration: none;
   color: #fff !important;
}

#footer b{
   text-decoration: underline;
}

#footer button{
   border-radius: 5%;
}

#footer button:hover{
   color: black;
}

.footer-box{
    padding: 20px;
    padding-bottom: -50px;
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
 box-shadow: none !important;
 border: none;
 border-radius: 0;
 margin-top: 30px !important;
}